<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="js/assets/notifications/angular-ui-notification.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/archiveCtrl.js"></script>
    <script src="js/assets/bootstrap.min.js"></script>
    <script src="js/assets/material.min.js"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./mainPage.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./mainPage.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li>
                        <a href="./revisionPage.html">
                            <i class="material-icons">change_history</i>
                            <p>Korekty</p>
                        </a>
                    </li>
                    <li>
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li>
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                    <li>
                        <a href="./logout">
                            <i class="material-icons">person</i>
                            <p>Wyloguj</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="archiveCtrl" data-ng-init="loadArchive()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"> Archiwum </a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Archiwum</h4>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Numer faktury</th>
                                            <th class="text-center">Kontrahent</th>
                                            <th class="text-center">Data wystawnienia</th>
                                            <th class="text-center">Termin płatności</th>
                                            <th class="text-center">Kwota</th>
                                            <th class="text-center">Stan płatności</th>
                                            <th colspan="2">Dodatkowy opis</th>
                                        </thead>
                                        <tbody ng-repeat="fv in archiveFV">
                                            <tr>
                                                <td class="text-center">
                                                    <i class="material-icons" ng-if="fv.status < 0">assignment_late</i>
                                                    <i class="material-icons" ng-if="fv.status == 0">assignment</i>
                                                    <i class="material-icons" ng-if="fv.status > 0">assignment_turned_in</i>
                                                </td>
                                                <td class="text-center">{{fv.fvnumber}}</td>
                                                <td class="text-center">{{fv.contractor}}</td>
                                                <td class="text-center">{{fv.issuedate}}</td>
                                                <td class="text-center">{{fv.duedate}}</td>
                                                <td class="text-center">{{fv.value | currency : 'zł'}}</td>
                                                <td class="text-center">{{fv.paid | currency : 'zł'}} / {{fv.sum | currency : 'zł'}}</td>
                                                <td>{{fv.note}}</td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="deleteArchive(fv.id)">delete</i>
                                                    <i class="material-icons click-icon" ng-click="returnFromArchive(fv.id)">settings_backup_restore</i>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="revision in archiveRevision" ng-if="revision.fv == fv.id">
                                                <td class="text-center">
                                                    <i class="material-icons">change_history</i>
                                                </td>
                                                <td class="text-center">{{revision.fvnumber}}</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">{{revision.issuedate}}</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">{{revision.quota | currency : 'zł'}}</td>
                                                <td class="text-center">-</td>
                                                <td>{{revision.note}}</td>
                                            </tr>
                                            <tr ng-repeat="payment in archivePayment" ng-if="payment.fv == fv.id">
                                                <td></td>
                                                <td colspan="6">Płatność w wysokości: {{payment.quota | currency : 'zł'}}, dokonana: {{payment.issuedate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>