<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="js/assets/notifications/angular-ui-notification.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="js/assets/datapicker/helper.css" />
    <link rel="stylesheet" type="text/css" href="js/assets/datapicker/angular-datepicker.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/contractorCtrl.js"></script>
    <script src="js/assets/bootstrap.min.js"></script>
    <script src="js/assets/material.min.js"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
    <script type="text/javascript" src="js/assets/datapicker/angular-datepicker.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./mainPage.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./mainPage.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li>
                        <a href="./revisionPage.html">
                            <i class="material-icons">change_history</i>
                            <p>Korekty</p>
                        </a>
                    </li>
                    <li>
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li>
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                    <li>
                        <a href="./logout">
                            <i class="material-icons">person</i>
                            <p>Wyloguj</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="contractorCtrl" data-ng-init="loadContractor()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"> Kontrahenci </a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Kontrahenci</h4>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th class="text-center">Nr identyfikacyjny</th>
                                            <th class="text-center">Nazwa firmy</th>
                                            <th class="text-center">NIP</th>
                                            <th class="text-center">Bank</th>
                                            <th class="text-center">Nr konta</th>
                                            <th class="text-center">Nr kontaktowy</th>
                                            <th class="text-center">Adres e-mail</th>
                                            <th>Dodatkowe notatki</th>
                                            <th>
                                                <i class="material-icons click-icon" ng-click="showAddContractor = !showAddContractor">note_add</i>
                                            </th>
                                        </thead>
                                        <tr ng-show="showAddContractor">
                                            <td>
                                                <input type="text" class="form-control" ng-model="addCompany" placeholder="Nazwa firmy"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addNip" placeholder="NIP"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addBank" placeholder="Nazwa banku"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addAccount" placeholder="Nr konta"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addContactnr" placeholder="Nr kontaktowy"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addMail" placeholder="Adres e-mail"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addNote" placeholder="Dodatkowy opis"/>
                                            </td>
                                        </tr>
                                        <tr ng-show="showAddContractor">
                                            <td></td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addCountry" placeholder="Kraj"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addProvince" placeholder="Województwo/Region"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addZip" placeholder="Kod pocztowy"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addCity" placeholder="Miasto"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="addStreet" placeholder="Ulica i nr"/>
                                            </td>
                                            <td>
                                                <i class="material-icons click-icon" ng-click="addContractor()">done</i>
                                            </td>
                                        </tr>
                                        <tbody ng-repeat="contractor in allContractors">
                                            <tr>
                                                <td class="text-center">{{contractor.id}}</td>
                                                <td class="text-center">{{contractor.company}}</td>
                                                <td class="text-center">{{contractor.nip}}</td>
                                                <td class="text-center">{{contractor.bank}}</td>
                                                <td class="text-center">{{contractor.account}}</td>
                                                <td class="text-center">{{contractor.contactnr}}</td>
                                                <td class="text-center">{{contractor.mail}}</td>
                                                <td>{{contractor.note}}</td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="showEdit = !showEdit">edit</i>
                                                    <i class="material-icons click-icon" ng-click="deleteContractor(contractor.id)">delete</i>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="address in allAddresses" ng-if="contractor.address == address.id">
                                                <td></td>
                                                <td colspan="6">{{address.country}}, {{address.province}}, {{address.zip}} {{address.city}}, {{address.street}}</td>
                                            </tr>
                                            <tr ng-show="showEdit">
                                                <td></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.company"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.nip"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.bank"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.account"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.contactnr"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.mail"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="contractor.note"/>
                                                </td>
                                            </tr>
                                            <tr ng-show="showEdit" ng-repeat="address in allAddresses" ng-if="contractor.address == address.id">
                                                <td colspan="2"></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="address.country"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="address.province"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="address.zip"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="address.city"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="address.street"/>
                                                </td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="updateContractor(contractor.id, contractor.company, contractor.nip, contractor.bank, contractor.account, contractor.contactnr, contractor.mail, contractor.note, contractor.address, address.country, address.province, address.city, address.zip, address.street)">done</i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>