<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/fvCtrl.js"></script>
    <script src="js/assets/bootstrap-notify.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./index.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./index.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li>
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li>
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li>
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="fvCtrl" data-ng-init="loadFV()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"> Faktury </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Faktury</h4>
                                <p class="category">Subtitle?</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>Numer faktury</th>
                                        <th class="text-center">Kontraktor</th>
                                        <th class="text-center">Data wystawienia</th>
                                        <th class="text-center">Termin płatności</th>
                                        <th class="text-center">Stan płatności</th>
                                        <th class="text-center">Status płatności</th>
                                        <th>Dodatkowy opis</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="fv in allFVs | orderBy:issuedate">
                                            <td>{{fv.fvnumber}}</td>
                                            <td class="text-center">{{fv.contractor}}</td>
                                            <td class="text-center">{{fv.issuedate}}</td>
                                            <td class="text-center">{{fv.duedate}}</td>
                                            <td class="text-center">{{fv.paid | currency : 'zł'}} / {{fv.sum | currency : 'zł'}}</td>
                                            <td class="text-center">
                                                <i class="material-icons" ng-if="fv.status < 0">assignment_late</i>
                                                <i class="material-icons" ng-if="fv.status == 0">assignment</i>
                                                <i class="material-icons" ng-if="fv.status > 0">assignment_turned_in</i>
                                            </td>
                                            <td>{{fv.note}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>