<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="js/assets/notifications/angular-ui-notification.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/paymentCtrl.js"></script>
    <script src="js/assets/bootstrap.min.js"></script>
    <script src="js/assets/material.min.js"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./mainPage.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./mainPage.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li>
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li>
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="paymentCtrl" data-ng-init="loadFV()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"> Płatności </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="./">Profil</a>
                                    </li>
                                    <li>
                                        <a href="./logout">Wyloguj</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Płatności</h4>
                                    <p class="category">Faktury oczekujące na płatność</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table" ng-init="loadPayments()">
                                        <thead class="text-primary">
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Numer faktury</th>
                                            <th class="text-center">Kontrahent</th>
                                            <th class="text-center">Data wystawienia</th>
                                            <th class="text-center">Termin płatności</th>
                                            <th class="text-center">Kwota</th>
                                            <th class="text-center">Stan płatności</th>
                                            <th>Dodatkowy opis</th>
                                        </thead>
                                        <tbody ng-repeat="fv in allFVs" ng-if="fv.status <= 0">
                                            <tr>
                                                <td class="text-center">
                                                    <i class="material-icons" ng-if="fv.status < 0">assignment_late</i>
                                                    <i class="material-icons" ng-if="fv.status == 0">assignment</i>
                                                </td>
                                                <td class="text-center">{{fv.fvnumber}}</td>
                                                <td class="text-center">{{fv.contractor}}</td>
                                                <td class="text-center">{{fv.issuedate}}</td>
                                                <td class="text-center">{{fv.duedate}}</td>
                                                <td class="text-center">{{fv.value | currency : 'zł'}}</td>
                                                <td class="text-center">{{fv.paid | currency : 'zł'}} / {{fv.sum | currency : 'zł'}}</td>
                                                <td>{{fv.note}}</td>
                                            </tr>
                                            <tr ng-repeat="revision in allRevisions" ng-if="revision.fv == fv.id">
                                                <td class="text-center">
                                                    <i class="material-icons">change_history</i>
                                                </td>
                                                <td class="text-center">{{revision.fvnumber}}</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">{{revision.issuedate}}</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">{{revision.quota | currency : 'zł'}}</td>
                                                <td class="text-center">-</td>
                                                <td>{{revision.note}}</td>
                                            </tr>
                                            <tr ng-repeat="payment in allPayments" ng-if="fv.status >= 0 && payment.fv == fv.id">
                                                <td></td>
                                                <td colspan="6">Płatność w wysokości: {{payment.quota | currency : 'zł'}}, dokonana: {{payment.issuedate}}</td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="deletePayment(payment.id)">delete</i>
                                                </td>
                                            </tr>
                                            <tr ng-if="fv.status < 0">
                                                <td></td>
                                                <td colspan="6">Brak płatności dla faktury</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"></td>
                                                <td colspan="5">Pozostało do zapłaty: {{fv.sum - fv.paid | currency : 'zł'}}.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"></td>
                                                <td colspan="2">Wprowadź wysokość i datę wykonanej płatnośći</td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="addQuota" placeholder="Kwota PLN"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="addIssueDate" placeholder="Data płatności"/>
                                                </td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="addPayment(fv.id, addQuota, addIssueDate)">done</i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>
