<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="js/assets/notifications/angular-ui-notification.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/revisionCtrl.js"></script>
    <script src="js/assets/bootstrap.min.js"></script>
    <script src="js/assets/material.min.js"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./mainPage.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./mainPage.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./revisionPage.html">
                            <i class="material-icons">change_history</i>
                            <p>Korekty</p>
                        </a>
                    </li>
                    <li>
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li>
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li>
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                    <li>
                        <a href="./logout">
                            <i class="material-icons">person</i>
                            <p>Wyloguj</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="revisionCtrl" data-ng-init="loadFV()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"> Korekty </a>
                    </div>
                </div>
            </nav>
            
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Korekty</h4>
                                    <p class="category">Wszystkie aktywne korekty</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th></th>
                                            <th class="text-center">Numer korekty</th>
                                            <th class="text-center">Numer faktury korygowanej</th>
                                            <th class="text-center">Stan faktury korygowanej</th>
                                            <th class="text-center">Data wystawienia</th>
                                            <th class="text-center">Kwota</th>
                                            <th>Dodatkowy opis</th>
                                            <th></th>
                                        </thead>
                                        <tbody ng-repeat="revision in allRevisions">
                                            <tr>
                                                <td class="text-center">
                                                    <i class="material-icons">change_history</i>
                                                </td>
                                                <td class="text-center">{{revision.fvnumber}}</td>
                                                <td class="text-center" ng-repeat="fv in allFVs" ng-if="fv.id == revision.fv">{{fv.fvnumber}}</td>
                                                <td class="text-center" ng-repeat="fv in allFVs" ng-if="fv.id == revision.fv">
                                                    <i class="material-icons" ng-if="fv.status < 0">assignment_late</i>
                                                    <i class="material-icons" ng-if="fv.status == 0">assignment</i>
                                                    <i class="material-icons" ng-if="fv.status > 0">assignment_turned_in</i>
                                                </td>
                                                <td class="text-center">{{revision.issuedate}}</td>
                                                <td class="text-center">{{revision.quota | currency : 'zł'}}</td>
                                                <td>{{revision.note}}</td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="showEditRevision = !showEditRevision">edit</i>
                                                    <i class="material-icons click-icon" ng-click="deleteRevision(revision.id)">delete</i>
                                                </td>
                                            </tr>
                                            <tr ng-show="showEditRevision">
                                                <td></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="revision.fvnumber"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="revision.fv"/>
                                                </td>
                                                <td>-</td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="revision.issuedate"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="revision.quota"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="revision.note"/>
                                                </td>
                                                <td>
                                                    <i class="material-icons click-icon" ng-click="updateRevision(revision.id, revision.fvnumber, revision.fv, revision.issuedate, revision.quota, revision.note)">done</i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>