<!doctype html>

<head>
    <meta charset="utf-8" />
    <title>FV System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="js/assets/notifications/angular-ui-notification.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="js/assets/datapicker/helper.css" />
    <link rel="stylesheet" type="text/css" href="js/assets/datapicker/angular-datepicker.css" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    
    <script src="js/mainApp.js"></script>
    <script src="js/controllers/revisionCtrl.js"></script>
    <script src="css/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/assets/notifications/angular-ui-notification.js"></script>
    <script type="text/javascript" src="js/assets/datapicker/angular-datepicker.js"></script>
</head>

<body ng-app="mainApp">
    <div class="wrapper">
        
        <div class="sidebar" data-color="purple">
            <div class="logo">
                <a href="./mainPage.html" class="simple-text">
                    FV System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./mainPage.html">
                            <i class="material-icons">dashboard</i>
                            <p>Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="./fvPage.html">
                            <i class="material-icons">content_paste</i>
                            <p>Faktury</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="./revisionPage.html">
                            <i class="material-icons">change_history</i>
                            <p>Korekty</p>
                        </a>
                    </li>
                    <li>
                        <a href="./paymentPage.html">
                            <i class="material-icons">credit_card</i>
                            <p>Płatności</p>
                        </a>
                    </li>
                    <li>
                        <a href="./contractorPage.html">
                            <i class="material-icons">account_box</i>
                            <p>Kontrahenci</p>
                        </a>
                    </li>
                    <li>
                        <a href="./archivePage.html">
                            <i class="material-icons">archive</i>
                            <p>Archiwum</p>
                        </a>
                    </li>
                    <li>
                        <a href="./logout">
                            <i class="material-icons">person</i>
                            <p>Wyloguj</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="main-panel" ng-controller="revisionCtrl" data-ng-init="loadFV()">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"> Korekty </a>
                    </div>
                </div>
            </nav>
            
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Korekty</h4>
                                    <p class="category">Wszystkie aktywne korekty</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-primary">
                                            <th></th>
                                            <th class="text-center">Numer korekty</th>
                                            <th class="text-center">Numer faktury korygowanej</th>
                                            <th class="text-center">Stan faktury korygowanej</th>
                                            <th class="text-center">Data wystawienia</th>
                                            <th class="text-center">Kwota</th>
                                            <th>Dodatkowy opis</th>
                                            <th></th>
                                        </thead>
                                        <tbody ng-repeat="revision in allRevisions">
                                            <tr>
                                                <td class="text-center">
                                                    <i class="material-icons">change_history</i>
                                                </td>
                                                <td class="text-center">{{revision.fvnumber}}</td>
                                                <td class="text-center" ng-repeat="fv in allFVs" ng-if="fv.id == revision.fv">{{fv.fvnumber}}</td>
                                                <td class="text-center" ng-repeat="fv in allFVs" ng-if="fv.id == revision.fv">
                                                    <i class="material-icons" ng-if="fv.status < 0">assignment_late</i>
                                                    <i class="material-icons" ng-if="fv.status == 0">assignment</i>
                                                    <i class="material-icons" ng-if="fv.status > 0">assignment_turned_in</i>
                                                </td>
                                                <td class="text-center">{{revision.issuedate}}</td>
                                                <td class="text-center">{{revision.quota | currency : 'zł'}}</td>
                                                <td>{{revision.note}}</td>
                                                <td>
                                                    <div class="tooltip">
                                                        <i class="material-icons click-icon" data-toggle="modal" data-target="#editRevision{{$index}}">edit</i>
                                                        <span class="tooltiptext">Edytuj korektę</span>
                                                    </div>
                                                    <div class="tooltip">
                                                        <i class="material-icons click-icon" ng-click="deleteRevision(revision.id)">delete</i>
                                                        <span class="tooltiptext">Usuń korektę</span>
                                                    </div>
                                                    
                                                    <div class="container-fluid">
                                                        <div class="modal fade" id="editRevision{{$index}}" role="dialog">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">Edycja korekty: {{revision.fvnumber}}</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>
                                                                            <md-input-container>
                                                                                <label>Numer faktury</label>
                                                                                <input type="text" ng-model="upRNumber" ng-init="upRNumber = revision.fvnumber"/>
                                                                            </md-input-container>
                                                                        </p>
                                                                        <p>
                                                                            <select ng-model="upRFV" ng-options="fv.fvnumber for fv in allFVs" ng-init="upRFV = allFVsID[ revision.fv ]"></select>
                                                                        </p>
                                                                        <p>
                                                                            <datepicker date-format="yyyy-MM-dd">
                                                                                <input ng-model="upRIssueDate" ng-init="upRIssueDate = revision.issuedate" type="text" class="angular-datepicker-input"/>
                                                                            </datepicker>
                                                                        </p>
                                                                        <p>
                                                                            <md-input-container>
                                                                                <label>Kwota korekty</label>
                                                                                <input type="text" ng-model="upRQuota" ng-init="upRQuota = revision.quota"/>
                                                                            </md-input-container>
                                                                        </p>
                                                                        <p>
                                                                            <md-input-container>
                                                                                <label>Powód korekty</label>
                                                                                <input type="text" ng-model="upRNote" ng-init="upRNote = revision.note"/>
                                                                            </md-input-container>
                                                                        </p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                                                        <i class="material-icons click-icon" ng-click="updateRevision(revision.id, upRNumber, upRFV.id, upRIssueDate, upRQuota, upRNote)" data-dismiss="modal">done</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>